
*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	font-family: "微软雅黑","宋体",sans-serif;
    box-sizing: border-box;
}
body{
	border: 0;
	/* height: auto; */
	/* overflow: hidden; */
	background: #f4f4f4;
	/* background: white; */
}
img{
	border: 0;
}
#wrapper {
	position: absolute;
	z-index: 1;
	top: 46px;
	bottom: 0;
	left: 0;
	width: 100%;
	height: calc(100vh-46px);
	/* position: relative; */
	/* overflow: hidden; */
}

#scroller {
	position: absolute;
	z-index: 1;
	width: 100%;
	transform: translateZ(0);
	user-select: none;
	text-size-adjust: none;
}
#header{
	background: black;
	/* background: #282828; */
	width: 100%;
	height: 0.96rem;
	display: flex;
	position: fixed;
    justify-content: space-between;
	top: 0;
	left: 0;
	z-index: 10;
}
.head-left{
	width: 0.96rem;
	height: 100%;
	padding: 0.27em 0.32em;
}
.head-left a{
	display: block;
	width: 100%;
	height: 100%;
}
.icon-fanhui{
	display: block;
	font-family: 'iconfont';
	font-size: .4rem;
	color: #fff;
}
.head-mid{
	/* width: 2.4rem; */
	height: 100%;
	display: flex;
    justify-content: space-between;
}
.head-mid span{
	align-self: center;
	font-size: 0.3em;
	color: #fff;
	line-height: 0.96em;
	text-align: center;
}
.head-right{
	width: 0.96rem;
	height: 100%;
	padding: 0.27em 0.32em;
}
.icon-caidan{
	display: block;
	font-family: 'iconfont';
	font-size: .4rem;
	color: #fff;
}
.log{
	display: block;
	margin-top: 0.96em;
	width: 100%;
	height: 1.6em;
	background: white;
	padding: 0.4em;
	display: flex;
	border-bottom: 0.01em solid #ccc;
	justify-content: space-between;
}
.tou{
	height: 100%;
	display: flex;
	justify-content: space-around;
}
.touxiang{
	width: 0.8em;
	height: 0.8em;
	border-radius: 50%;
	background: #f6f6f6;
	margin-right: 0.2em;
}
.icon-gerenzhongxinxia{
	width: 100%;
	height: 100%;
	font-family: "iconfont";
	font-size: 0.35em;
	text-align: center;
	line-height: 2em;
	color: #7a7a7a;
}
.tou span{
	font-size: 0.3em;
	color: #7a7a7a;
	line-height: 2.3em;
}
.log .deng{
	display: block;
	width: 0.63em;
	height: 0.35em;
}
.log .deng span{
	display: block;
	width: 100%;
	height: 100%;
	font-size: 0.3em;
	color: #ed3a43;
	line-height: 2.3em;	
}
.load{
	margin-bottom: 0.2em;
	width: 100%;
	height: 1.8em;
	background: white;
	padding: 0.38em 0.65em;
	display: flex;
	justify-content: space-between;
}
.load a{
	font-family: "iconfont";
	display: block;
	width: 1.8em;
	height: 100%;
	font-size: 0.7em;
	color: #535353;
	text-align: center;
}
.load a span{
	margin-top: 0.2em;
	display: block;
	width: 100%;
	font-size: 0.24em;
}
.want{
	overflow: hidden;
	width: 100%;
	height: 8.78em;
	background: white;
}
.want p{
	display: block;
	margin-top: 10.02em;
	font-size: 0.3em;
	color: #333;
	text-align: center;
	margin-bottom: 0.3em;
}
.want span{
	display: block;
	font-size: 0.26em;
	color: #979797;
	text-align: center;
	margin-bottom: 0.8em;
}
.want a{
	display: block;
	width: 3.2em;
	height: 0.9em;
	margin: 0 auto;
	border-radius: 0.1em;
	border: 0.01em solid #ed323c;
}
.want a div{
	width: 100%;
	height: 100%;
	font-size: 0.3em;
	color: #ed323c;
	text-align: center;
	line-height: 2.9em;
}