/*
* @Author: yan
* @Date:   2017-10-06 11:03:49
* @Last Modified by:   yan
* @Last Modified time: 2017-10-06 12:29:21
*/
*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	font-family: "微软雅黑","宋体",sans-serif;
    box-sizing: border-box;
}
body{
	border: 0;
	/* height: auto; */
	/* overflow: hidden; */
	/* background: #f4f4f4; */
	background: white;
}
img{
	border: 0;
}
#wrapper {
	position: absolute;
	z-index: 1;
	top: 46px;
	bottom: 0;
	left: 0;
	width: 100%;
	height: calc(100vh-46px);
	/* position: relative; */
	/* overflow: hidden; */
}

#scroller {
	position: absolute;
	z-index: 1;
	width: 100%;
	transform: translateZ(0);
	user-select: none;
	text-size-adjust: none;
}
#header{
	background: #282828;
	width: 100%;
	height: 0.96rem;
	display: flex;
	position: fixed;
    justify-content: space-between;
	top: 0;
	left: 0;
	z-index: 10;
}
.head-left{
	width: 0.96rem;
	height: 100%;
	padding: 0.27em 0.32em;
}
.head-left a{
	display: block;
	width: 100%;
	height: 100%;
}
.icon-fanhui{
	display: block;
	font-family: 'iconfont';
	font-size: .4rem;
	color: #fff;
}
.head-mid{
	/* width: 2.4rem; */
	height: 100%;
	display: flex;
    justify-content: space-between;
}
.head-mid span{
	align-self: center;
	font-size: 0.3em;
	color: white;
	line-height: 0.96em;
	text-align: center;
}
.head-right{
	width: 0.96rem;
	height: 100%;
	padding: 0.27em 0.32em;
}
.icon-gerenzhongxinxia{
	display: block;
	font-family: 'iconfont';
	font-size: .4rem;
	color: #fff;
}
.list{
	margin-top: 0.2em;
	width: 100%;
}
.list li{
	width: 100%;
	height: 1.5em;
	border-bottom: 0.01em solid #d9d9d9;
	padding: 0.3em 0.3em;
}
.list li a{
	display: block;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: flex-start;
}
.list .pic{
	align-self: center;
	width: 0.6em;
	height: 0.9em;
	margin-right: 0.23em;
}
.list .pic img{
	display: block;
	width: 100%;
	height: 100%;
}
.list .text{
	width: 6em;
	align-self: center;
	height: 100%;
	display: flex;
	justify-content: space-between;
}
.list .text span{
	display: block;
	height: 100%;
	font-size: 0.4em;
	color: #2c1d1d;
	line-height: 2.5em;
	text-align: left;
}
.icon-jinru{
	font-family: "iconfont";
}