/*
* @Author: yan
* @Date:   2017-10-06 12:05:18
* @Last Modified by:   yan
* @Last Modified time: 2017-10-06 12:44:06
*/
*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	font-family: "微软雅黑","宋体",sans-serif;
    box-sizing: border-box;
}
body{
	border: 0;
	/* height: auto; */
	/* overflow: hidden; */
	background: #f4f4f4;
	/* background: white; */
}
img{
	border: 0;
}
#wrapper {
	position: absolute;
	z-index: 1;
	top: 46px;
	bottom: 0;
	left: 0;
	width: 100%;
	height: calc(100vh-46px);
	/* position: relative; */
	/* overflow: hidden; */
}

#scroller {
	position: absolute;
	z-index: 1;
	width: 100%;
	transform: translateZ(0);
	user-select: none;
	text-size-adjust: none;
}
#header{
	background: #282828;
	width: 100%;
	height: 0.96rem;
	display: flex;
	position: fixed;
    justify-content: space-between;
	top: 0;
	left: 0;
	z-index: 10;
}
.head-left{
	width: 0.96rem;
	height: 100%;
	padding: 0.27em 0.32em;
}
.head-left a{
	display: block;
	width: 100%;
	height: 100%;
}
.icon-fanhui{
	display: block;
	font-family: 'iconfont';
	font-size: .4rem;
	color: #fff;
}
.head-mid{
	/* width: 2.4rem; */
	height: 100%;
	display: flex;
    justify-content: space-between;
}
.head-mid span{
	align-self: center;
	font-size: 0.3em;
	color: white;
	line-height: 0.96em;
	text-align: center;
}
.head-right{
	width: 0.96rem;
	height: 100%;
	padding: 0.27em 0.32em;
}
.icon-gerenzhongxinxia{
	display: block;
	font-family: 'iconfont';
	font-size: .4rem;
	color: #fff;
}
.neirong{
	margin-top: 0.2em;
	width: 100%;
	padding: 0.21em;
}
.neirong li{
	margin-bottom: 0.2em;
	width: 7.1em;
	height: 5.73em;
	border-radius: 0.05em;
	border: 0.01em solid #d8d8d9;
}
.neirong li a{
	display: block;
	width: 100%;
	height: 100%;
	border-radius: 0.05em;
	background: white;
}
.neirong .pic{
	width: 100%;
	height: 4.72em;
}
.neirong .pic img{
	display: block;
	width: 100%;
	height: 100%;
}
.neirong .text{
	width: 100%;
	height: 1em;
	padding: 0.3em 0.4em 0;
	display: flex;
	justify-content: flex-start;
}
.neirong .text span{
	font-size: 0.4em;
}
.neirong .text span:first-of-type{
	color: #333;
	margin-right: 0.18em;
}
.neirong .text span:last-of-type{
	color: #4c4c4c;
}
